
.absolute {
  position: absolute;
}

canvas {
  display: block;
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Serif', serif;
  text-align: center;
}
#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(201, 242, 235);
  opacity: 1;
  transition: 1s opacity;
}
#loading-screen.fade-out {
    opacity: 0;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}/* tag style section*/
:root {
    --clr-primary: #2962ff;
    --clr-primary-hover: #0d47a1;
    --clr-gray-med: #78909c;
    --clr-gray-light: #cfd8dc;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'PT Serif', serif;
    text-align: center;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid var(--clr-gray-light)
  }
  .mother-container {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: row;
    grid-template-rows: auto
  }
  #container {
    /* background-color: white; */
    /* display: flex; */
    /* flex-wrap: wrap; */

    width: 1195px;
    height: 355px;
    display: grid;
    grid-template-columns: row;
    grid-template-rows: 2fr 2fr 3fr;
    flex: 1;
    /* text-align: auto; */
    
  }
  
  #container div {
    margin: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    /* height: 100%; */
    /* width: 100%; */
    padding: 0.8em;
    box-shadow: 0px 0px 10px var(--clr-gray-med);
  }

  #container2{
    /* display: flex; */
    align-content: bottom;
    width: 818px; 
    height: 360px;
    /* display: grid; */
    /* grid-template-columns: auto; */
    /* float: right; */
    /* grid-template-rows: 2fr 2fr 3fr; */
  }

  #container2 img {
    margin: 0 0.5em 0.5em 0;
    /* display: flex; */
    padding: 0.8em;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px var(--clr-gray-med);

  }

  #tag-background {
    background-color: white;
    font-size: 10px;
    width: 142px;
    height: 58px;
  }
  #tag-background span{
    margin: 0 0.1em 0.1em 0;
    display: flex;
    padding-left: 0.5em;
    box-shadow: 0px 0px 2px var(--clr-gray-med);
  }
  #blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }