
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Serif', serif;
  text-align: center;
}
#loading-screen {
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(201, 242, 235);
  opacity: 1;
  transition: 1s opacity;
}
#loading-screen.fade-out {
    opacity: 0;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}/* tag style section*/
:root {
    --clr-primary: #2962ff;
    --clr-primary-hover: #0d47a1;
    --clr-gray-med: #78909c;
    --clr-gray-light: #eceff1;
    --clr-blue-light:#93aef6;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'PT Serif', serif;
    text-align: center;
  }
  
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid var(--clr-gray-light)
  }
  .mother-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag-container {
    background-color: var(--clr-gray-light);
    /* background-color: lightblue; */
    font-family: inherit;
    color: #4771FA;
    font-size: 12px;
    /* position: r; */
  
    width: auto;
    height: auto;
    display: grid;
    padding: 0.50em;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h"
    ;
  }
  .station-status {
    grid-area: a;
  }
  .operator-name {
    grid-area: c;
  }
  .operator-id {
    grid-area: e;
  }
  .task-performed {
  
    grid-area: g;
  }

  .operator-tag-layout{
    padding-left: 0.2rem; 
    padding-right: 0.2rem;
    
    box-shadow: 0px 0px 5px var(--clr-gray-med);
    margin: 0.1rem;
    display: inline-block;
    justify-content: center;
    text-align: left;

  }

  .operator-colon {
    box-shadow: inset 0px 0px 10px var(--clr-gray-med);
    margin: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    display: inline-block;
    justify-content: center;
    text-align: left;
  }
  .colon-1 {
    grid-area: b;
    /* padding-right: ; */
  }
  .colon-2 {
    grid-area: d;
  }
  .colon-3 {
    grid-area: f;
  }
  .colon-4 {
    grid-area: h;
  }
  .tag-shadowBox{
    /* width: 100%;
    height: 100%; */
    padding-top: 2px;
    box-shadow: 0px 0px 5px var(--clr-gray-med);
  }
  
  .modal-bg {
    top: 0%; /*default is 0, instiate is optional*/
    left: 0%; /*default is 0, instiate is optional*/
    z-index: 2;
    /* display: flex; */
    /* flex: wrap; */
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    /* background-color: red; */
    /* align-items: center; */
    /* justify-content: center; */
    /* visibility: visible; */
  }
  .modal-child {
    top: 40%;
    left: 50%;
    width: 20%;
    height: 40% ;
    background: white;
    position: relative;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1.5fr 1.5fr 2.5fr 0.4fr;
    padding: 0.25em;
    /* background-color: gray; */
    grid-template-areas: 
    "b x a a "
    "b c c c"
    "b c c c "
    "d d d d "
    "h h h h "
  }

#status-container {
  /* background-color: blue; */
  padding: 0.5rem;
  grid-area: a;
}
.image-container {
  /* background-color: aquamarine; */
  display: flex;
  /* width: fit-content; */
  /* margin-bottom: 0.25rem; */
  /* margin-top: 0.75em; */
  /* width: 100%; */

  grid-area: b;
}
.image {
  display: flex;
  /* object-fit: contain; */
  width: 110px;
  margin: 1em;
}
.flex-content-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  /* margin-bottom: 5rem; */
  /* align-items: center; */
}
.indicator-container{
  display: flex;
  align-items: center;
  
}
.station-name {
  /* background-color: red; */
  margin-bottom: 1rem;
  margin-left: 0.5em;
  font-size: 2rem;
}
.station-container {
  /* background-color: aqua; */
  /* padding: 0.5rem; */
  grid-area: c;
}
.station-info-container {
  display: flex;
  flex-direction: column;
  background:#FAFAFA 0% 0% no-repeat padding-box;
  justify-content: space-evenly;
  /* padding: 0.5rem; */
  grid-area: d;
}

.btn-container{
  /* background-color: blue; */
  grid-area: h;
  padding-bottom: 0.5em;
}
.box-shadow {
  box-shadow: 0px 5px 5px var(--clr-gray-med);
}

.burger-container {
  position: absolute;
  /* display: flex; */
  /* background-color: red; */
  z-index: 1;
  /* top: 0%;
  left: 0%; */
  border-radius: 8px;
  margin-top: 19.5px;
  margin-left: 19.5px;
  width: 37px;
  height: 35px;
  /* padding-top: 15px;
  padding-left: 40px; */
}

.burger-container:hover .naviagtion-dropdown{
  display: block;
}
.burger-container:hover .burger {
  --tw-bg-opacity: 0;
  border-width:2px;
}
.burger{
  top: 0%;
  left: 0%;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  padding: 10px;
  box-shadow: 0px 0px 5px var(--clr-gray-med);
}



#chart-backwall {
  height: 368px;
  width: 1200px;
}

#chart-sidewall {
  height: 368px;
  width: 1200px;
}
.naviagtion-dropdown{
  top: 0%;
  left: 0%;
  display: none;
  position: fixed;
  margin-top: 59px;
  margin-left: 20px;
}

.text {
  font-size: 12px;
}
.text:hover {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all;
  transition-duration: 4s;

}
html *{
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

.globe-nav:hover .naviagtion-dropdown {
  display: block;
  margin-top: 40px;
  margin-left: 15px;

}
.local-nav:hover .naviagtion-dropdown{
  display: block;
  margin-top: 47px;
  margin-left: 15px;
}
.globe-nav .naviagtion-dropdown:hover ~div{
  color: white;
  border-radius: 0.375rem;
  --tw-bg-opacity: 0.8;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}
.loading-page{
  /* display: none; */
  width: 100vw;
  height: 100vh;
  z-index: 61;
  position: absolute;
  background-color: rgb(201, 242, 235);
}

/*
This part down is for testing for designing only
*/
.test-container {
  /* position: relative; */
  background-color: lemonchiffon;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-inner-container{
  background-color: white;
  position: absolute;
  width: auto;
  height: auto;
  display: grid;
  box-shadow: 0px 0px 20px 2px var(--clr-gray-light);
  padding: 0.50em;
  grid-template-areas: 
  "a b"
  "c d"
  "e f"
  "g h"
  ;
}
.test-bg {
  background-color: #2962ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}


.a {
  display: inline-block;
  /* background-color: red; */
  justify-content: center;
  text-align: left;
  grid-area: a;
}

.b {
  display: inline-block;
  /* background-color: blue; */
  justify-content: center;
  text-align: left;
  grid-area: c;
}
.c {
  display: inline-block;
  /* background-color: burlywood; */
  justify-content: center;
  text-align: left;
  grid-area: e;
}
.d {
  display: inline-block;
  /* background-color: yellow; */
  justify-content: center;
  text-align: left;
  grid-area: g;
}
.e {
  display: inline-block;
  /* background-color: pink; */
  justify-content: center;
  text-align: left;
  grid-area: b;
}
.f {
  display: inline-block;
  /* background-color: goldenrod; */
  justify-content: center;
  text-align: left;
  grid-area: d;
}
.g {
  display: inline-block;
  /* background-color: lightgrey; */
  justify-content: center;
  text-align: left;
  grid-area: f;
}
.h {
  display: inline-block;
  /* background-color: chartreuse; */
  justify-content: center;
  text-align: left;
  grid-area: h;
}

.testMY{
  background-color: purple;
}
.canvas-container{
  display: flex;
  flex-direction: column;
}