@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;               /* Resets the default margin of the body */
  font-family: 'Open Sans', sans-serif; /* Commonly used font family, you can replace with your preferred one */
  font-size: 16px;         /* Base font size */
  line-height: 1.5;        /* A more readable line height */
  color: #333;             /* Darker color for text, replace with your preferred color */
  background-color: #fff;  /* Background color, commonly set to white or a light shade */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



img, embed, iframe, object, video {
  max-width: 100%;
}